*{

  margin: 0;
  padding: 0;
  border: border-box;
}

body::-webkit-scrollbar {
  display: none;
}
/* social media css */

.icons{
  height: 3rem;
  width: 100%;
  background-color: #00e499;
  display: flex;
}
.left-container{
  display: flex;
  justify-content: center;
  width: 50%;
  color:  #eafff8;
}

.right-container{
  width: 50%;
  display: flex;
  justify-content: center;
}
.facebook ,.linkedin,.youtube,.instagram{
  color:#eafff8 ;
  margin-left: .8rem;
}

@media screen and (max-width:600px){
  .icons{
    width: 100%;
  }
  .left-container{
    margin-top: .8rem;
  }
  .right-container{
    margin-top: .5rem;
  }
  .callicon h2 {
    font-size: 1.3rem;
  }
  .SMnumber h2{
    font-size: 1.3rem;
  }
}


/* navbar css */

.container-fluid{
  text-align: end;
  height: 2.5rem;
}
#navbarNavDropdown{
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.5rem;
  color: black;
}
#navbarNavDropdown a{
  color: black;
  cursor: pointer;
}
.navbar-nav li a{
  font-size: 1.5rem;
  font-weight: 500;
}
.button{
  width: 20%;
  display: flex;
  justify-content: center;
}
.bmical{
  width: 12rem;
  font-size: 1.5rem;
  color: white;
  border: none;
  background-color: #00e499;
  border-radius: .5rem;
}
@media screen and (max-width:600px){
  .container-fluid{
    height: 2rem;
    margin-top: -.5rem;
  }
  .navbar-nav li a{
    font-size: .8rem;
    margin: .2rem;
  }
  .button{
    display: none;
  }
  .bmical{
    font-size: 1rem;
    color: white;
    border: none;
    background-color: #00e499;
    border-radius: .5rem;
  }
}
@media (min-width:600px) and (max-width:1024) {
  .container-fluid{
    height: 3rem;
    margin-top: -.5rem;
  }
  .button{
    display: none;
  }
}

/*  main content css */
.content-container{
  width: 100%;
}
.Main-sub-container{
  height: 30rem;
  width: 100%;
  background-image: url('./Images/doc_image.jpg');
  background-size: cover;
  color: white;
}
.text {
  height: 25rem;
  width: 35rem;
  padding: 5rem;
}
.text-subdiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text h2{
  color: #00e499;
  width: 15rem ;
  font-size: 2.5rem;
}
.text h6{
  color: #00e499;
  
}
#paragraph{
  color: white;
}
.buttons-div{
  display: flex;
  margin-top: 1.5rem;
}
.button1{
  height: 3rem;
  width: 15rem;
  font-size: 1.4rem;
  background-color: #00e499;
  border: none;
  border-radius: .5rem;
  color: white;
}
.button2{
  height: 3rem;
  width: 13rem;
  font-size: 1.4rem;
  background-color: transparent;
  border: 2px solid white;
  border-radius: .5rem;
  color: #00e499;
  margin-left: 1.1rem;
}

.boxs{
  display: flex;
  justify-content: center;
  align-items: center;
}
.box{
  display: flex;
  height: 15rem;
  width: 60rem;
}
.box1{
  height: 100%;
  width: 25%;
  background-color: #0EFFB0 ;
  color: black;
  text-align: center;
}
.heading{
  text-align: center;
  margin-top: 1.5rem;
}
.parentime{
  display: flex;
  margin-left: 1rem;
}
.childay p{
  margin-top: .5rem;
  text-align: left;
  border-bottom: 2px solid black;
  width: 120%;
}
.childtime p{
  text-align: right;
  margin-left: .8rem;
  margin-top: .5rem;
  border-bottom: 2px solid black;
}
.secparent{
  display: flex;
  margin-left: 1rem;
}
.childone p{
  text-align: left;
}
.childtwo p{
  text-align: right;
  margin-left: 5rem;
}

.box2{
  height: 100%;
  width: 25%;
  background-color: #00E499;
}
.box2 p{
  margin-top: 1.5rem;
  text-align: center;
}
.main-but{
  display: flex;
  justify-content: center;
}
.appointbut{
  font-size: 1rem;
  background-color: transparent;
  border: 2px solid white;
  border-radius: .5rem;
  color: white;
}
.box3{
  height: 100%;
  width: 25%;
  background-color: #00BB7E ;
}
.box3 p{
  margin-top: 1.5rem;
  text-align: center;
}
.box4{
  height: 100%;
  width: 25%;
  background-color: #00593D ;
}
.box4 h5{
  margin-top: 1.5rem;
  text-align: center;
}
.box4 p{
  margin-top: 1.5rem;
  text-align: center;
}
@media screen and (max-width:600px){
  .Main-sub-container{
    height: 12rem;
    width: 100%;
  } 
  .text {
    height: 10rem;
    width: 15rem;
    padding: 1.1rem;
  }
  .text h2{
    font-size: 1.2rem;
    width: 10rem;
  }
  .text h6{
    font-size: .5rem;
    width: 15rem;
  }
  #paragraph{
    color: white;
    font-size: .5rem;
  }
.buttons-div{
  margin-top: .1rem;
}
.button1{
  height: 1.5rem;
  width: 15rem;
 font-size: .54rem;
}
.button2{
  height: 1.5rem;
  width: 15rem;
 font-size: .54rem;
}
.box{
  display: flex;
  height: 6rem;
  width: 20rem;
}
.heading h5{
  margin-top: -1.2rem;
  font-size: .5rem;
}
.childay p{
  font-size: .4rem;
  border-bottom: 1px solid black;
}
.childtime p{
  font-size: .4rem;
  border-bottom: 1px solid black;
}
.childone ,.childtwo{
  font-size: .4rem;
}
.parentime{
  margin-top: -.5rem;
  margin-left: .3rem;
}
.childtime{
  margin-right: .3rem;

}
.boxs{
  display: none;
}
}
@media screen and (max-width:1200px) {
  .boxs{
    display: none;
  }
}

/* About doctor component css */                                                                    

.fc-container {
  margin-top: 10rem;
  height: 28rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.fc-sub-container {
  height: 28rem;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fc-left {
  height: 25rem;
  width: 45%;
  background-color: aqua;
  background-image: url('./Images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
}

.fc-left img {
  height: 25rem;
  width: 40rem;
  margin-left: -12rem;
}

.fc-right {
  height: 25rem;
  width: 50%;
  background-color: #00e499;
  padding: 1rem;
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.fc-right h5 {
  color: white;
  margin-top: 1rem;
}

.fc-right h2 {
  color: #00593d;
  margin-top: 1.5rem;
}

.fc-right ul li {
  font-size: .8rem;
  margin-top: 1rem;
  color: white;
  width: 85%;
}

#but1 {
  background-color: #00593d;
  font-size: 1.2rem;
  border: none;
  border-radius: .5rem;
  color: white;
  margin-left: .5rem;
}

#but2 {
  background-color: transparent;
  font-size: 1.2rem;
  border: 2px solid white;
  border-radius: .5rem;
  color: white;
  margin-top: 1rem;
  margin-left: .8rem;
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
  .fc-container {
    margin-top: 5rem;
  }
  .fc-sub-container {
    flex-direction: column;
    align-items: center;
  }
  .fc-left, .fc-right {
    width: 100%;
    height: auto;
    border-radius: .5rem;
  }
  .fc-left img {
    width: 100%;
    margin-left: 0;
    height: auto;
  }
}

@media (max-width: 1100px) {
  .fc-container {
    margin-top: 10rem;
  }
  .fc-right h2 {
    font-size: 1.5rem;
  }
  .fc-right ul li {
    font-size: .7rem;
    width: 90%;
  }
  #but1, #but2 {
    font-size: 1rem;
    margin-left: 0;
    width: 100%;
    margin-top: .5rem;
  }
}

@media (max-width: 480px) {
  .fc-container {
    margin-top: 5rem;
  }
  .fc-right h2 {
    font-size: 1.2rem;
  }
  .fc-right ul li {
    font-size: .6rem;
    width: 100%;
  }
  #but1, #but2 {
    font-size: .8rem;
    margin-left: 0;
    width: 100%;
    margin-top: .5rem;
  }
}




/* medical service css */


.ms-container {
  height: 30rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.ms-text{
  margin-top: 3rem;
}
.ms-text h1 {
  text-align: center;
  color: #00593d;
}

.msh6 {
  text-align: center;
  color: #00e499;
}

.cards {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  height: 15rem;
  width: 14rem;
  box-shadow: 0 .5px grey;
}

.card-img-top {
  height: 4rem;
  width:  4rem;
  border: 1px solid white;
  border-radius: 50%;
  background-color: #00BB7E;
  margin: auto;
  margin-top: 2rem;
}

.card-title {
  font-size: .8rem;
  font-weight: bold;
  color: #00593d;
  text-align: center;
}

.card-text {
  font-size: .6rem;
  color: #00e499;
  text-align: center;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 1024px) {
  .ms-container {
    margin-top: 8rem;
  }
  .cards {
    margin-left: 2rem;
  }
  .card {
    width: 18rem;
  }
  .card-title {
    font-size: 1rem;
  }
  .card-text {
    font-size: .6rem;
  }
}

@media screen and (max-width: 768px) {
  .ms-container {
    height: auto;
  }
  .ms-text{
    margin-top: 3rem;
  }
  .cards {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }
  .card {
    width: 80%;
    margin-bottom: 2rem;
  }
  .card-img-top {
    height: 4rem;
    width:  4rem;
  }
  .card-title {
    font-size: .9rem;
  }
  .card-text {
    font-size: .6rem;
  }
}

@media screen and (max-width: 480px) {
  .ms-text{
    margin-top: 5rem;
  }
  .cards {
    margin-top: 2rem;
  }
  .card {
    width: 80%;
    margin-bottom: 1rem;
  }
  .card-img-top {
    height: 3rem;
    width:  3rem;
  }
  .card-title {
    font-size: 1rem;
  }
  .card-text {
    font-size: .6rem;
  }
}



/* Online con css */

.oc-text{
  display: flex;
  align-items: center;
}
.horizonal{
  height: 1rem;
  width: 15rem;
  border: 5px solid #2EFFBA;
  background-color: #2EFFBA;
  border-radius: 10px;
}
.oc-text h1{
  margin-left: .5rem;
  color: #023b28;
}
.oc-sub-container{
  display: flex;
  justify-content: center;
}
.oc-inner{
  height: 28rem;
  width: 75%;
  display: flex;
  margin-top: 2rem;
  border: 1px solid white;
  border-radius: 2rem;
}
.oc-left{
  height: 100%;
  width: 25%;
  background-color: #3adda7;
  border-right: 2px solid black;
}
.left-inner {
  margin-top: 7rem;
}
.left-inner img{
  position: absolute;
  height: 3.5rem;
  width:  3.5rem;
  margin-left: 4rem;
  border-radius: 50%;
  z-index: 1;
  margin-top: -1.8rem;
}
.left-inner p {
 margin-left: 2rem;
 color: white;
 margin-top: 2rem;
 cursor: pointer;
}
#zoom{
  margin-top: .8rem;
}
.timefiled , .videocam{
  font-size: 1.5rem;
}
.left-inner h4{
  margin-left: 2rem;
  margin-top: -.8rem;
  color: #00593D;
 }
 .horizon{
  margin-top: 6rem;
  border:  2px solid black;
 }
.oc-middle{
  height: 100%;
  width: 45%;
  background-color: #3adda7;
}
.oc-middle h5{
  margin-top: 3rem;
  margin-left: 1.5rem;
}
.month{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}

.days {
  padding: 10px 0;
}

  .days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    background-color: transparent;
    padding: .6rem;
  }

.oc-right{
  height: 100%;
  width: 25%;
  background-color: #3adda7;
  border-left: 2px solid black;
}
.oc-right h5{
  margin-top: 3rem;
  margin-left: 1.5rem;
}
.time button{
  height: 2.5rem;
  width: 80%;
  background-color: transparent;
  margin-left: 1.5rem;
  margin-top: .8rem;
  border-radius: .5rem;
  font-size: 1.2rem;
}
:hover.time button{
  background-color: black;
  color: white;
}
@media screen and (max-width:600px) {
  .horizonal{
    width: 7rem;
  }
  .oc-text h1{
    margin-left: .1rem;
  }
  .oc-container{
    display: none;
  }
}

/* 
Video  component css  */

.v-container{
  height: 30rem;
  width: 100%;
  margin-top: 5rem;
  display: flex;
}
.v-text{
  width: 50%;
  display: flex;
  justify-content: start;
  flex-direction: column;
  padding: 3rem;
  margin-left: 3rem;
}
.videotext{
  color: #00E499;
}
.videotext2{
  color: #00593D;

}

.videotext ul li {
  font-size: .9rem;
  margin-top: 1.2rem;
}
.v-video{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.v-video video {
  height: 30rem;
  width: 40rem;
  background-size: cover;
  border: 2px solid white;
  filter: blur(1px);
  -webkit-filter: blur(1px);
}
.playicon{
  position: absolute;
  font-size: 4rem;
  color: #00e499;
  margin-left: -1rem;
  background-color: white;
  border-radius: 50%;
}


@media screen and (max-width:600px) {
  .v-container{
    display: flex;
    flex-direction: column;
  }
  .v-text{
    width: 100%;
    margin-left: 1rem;
    padding: 0;
  }
  .v-video{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .v-video video{ 
    height: 20rem;
    width:  20rem;
    border: none;
  }
  .playicon{
    font-size: 2.5rem;
  }
}

@media (min-width:600px) and (max-width:1024px) {
  .v-container{
    display: flex;
    flex-direction: column;
  }
  .v-text{
    width: 100%;
    margin-left: 1rem;
    padding: 0;
  }
  .v-video{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .v-video video{ 
    height: 25rem;
    width:  25rem;
    border: none;
  }
  .playicon{
    font-size: 2.5rem;
  }
}
/* 
appointment form css */

.app-container {
  height: 30rem;
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.app-img img {
  height: 90%;
  width: 40rem;
  object-fit: cover;
  border: 2px solid white;
}

.app-form { 
  height: 25.5rem;
  width: 28rem;
  background-color: #00E499;
  margin-top: .8rem;
  margin-left: -2rem;
  border-radius: .8rem;
  color: black;
  padding: 1rem;
}

.app-text {
  text-align: center;
  font-weight: 800;
  color: white;
  /* margin-top: .5rem; */
}

.app-name {
  display: flex;
  margin: .1rem 0;
}

.app-name > div {
  flex: 1;
  margin-right: 1rem;
}

.app-name > div:last-child {
  margin-right: 0;
}

.app-name input, .email input, .app-date input, .message textarea {
  width: 100%;
  border: 2px solid black;
  border-radius: .5rem;
  padding: .3rem;
}

.email, .message {
  margin-top: .7rem;
}

.sendbut {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: .5rem;
}

.sendbut button {
  height: 2rem;
  width: 9.5rem;
  font-size: 1.1rem;
  border-radius: 1rem;
  color: white;
  background-color: #00593D;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .app-img img {
      display: none;
  }
  .app-form {
    height: auto;
      width: 100%;
      margin: 0;
      margin-top: 10rem;
      padding: .5rem;
  }
  .app-name {
      flex-direction: column;
  }
  .app-name > div {
      margin-right: 0;
      margin-bottom: 1rem;
  }
}
@media screen and (max-width: 1024px) {
  .app-img img {
      display: none;
  }
  .app-form {
    height: auto;
      width: 100%;
      margin: 0;
      margin-top: 5rem;
      padding: .5rem;
  }
  .app-name {
      flex-direction: column;
  }
  .app-name > div {
      margin-right: 0;
      margin-bottom: 1rem;
  }
}

/* blogs css */


.blog-container{
  height: 30rem;
  width: 100%;
}

.carousel-inner{
  display: flex;
  justify-content: center;

}
.carousel-in{
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 4rem;
}
.item{
  border-radius: 2rem;
}
.item img{
  height: 13rem;
  width: 13rem;
  border-radius: 1rem;
}
@media screen and (max-width:600px) {

  .blog-container{
    margin-top: 20rem;
  }
  .carousel-in{
    width: 100%;
    margin-top:1rem;
  }
  .item img{
    height: 5rem;
    width:  5rem;
    border-radius: 1rem;
  }
  .blog-container{
    height: auto;
  }
}
@media screen and (max-width:1024px) {

  .blog-container{
    margin-top: 15rem;
  }
  .carousel-in{
    width: 100%;
    margin-top:1rem;
  }
  .item img{
    height: 5rem;
    width:  5rem;
    border-radius: 1rem;
  }
  .blog-container{
    height: auto;
  }
}

/* 
testimonial css */


.test-container{
  height: 30rem;
  width: 100%;
}
.main-carousel{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 4rem;
}

.carousels{
  display: flex;
}
.tcard{
  height: auto;
  border: 2px solid black;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.t-card-text{
  padding: .2rem;
  text-align: center;
  font-size: .7rem;
}
.stars{
  font-size: 1rem;
  display: flex;
  justify-content: center;
  color: goldenrod;
}
.dots{
  font-size: 1.5rem;
  color: #00593D;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

@media screen and (max-width:600px) {

.test-container{
  margin-top: 2rem;
}
.main-carousel{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.tcard{
  margin: .5rem;
}
.tcard img{
  height: 4rem;
  width:  4rem;
}
.dots{
  display: none;
}
}
@media screen and (max-width:1024px) {
    .test-container{
      height: auto;
    }
}
/* contact us details css */

.contact-container{
  height: 30rem;
  width: 100%;
  margin-top: 2rem;
}
.circleimg{
  position: absolute;
  z-index: 1;
  background-image: url('./Images/Unsplash_doc.avif');
  background-size: cover;
  background-repeat: no-repeat;
  height: 20rem;
  width: 20rem;
  border: 7px solid #08E59C ;
  border-radius: 50%;
  margin-left:10rem ;
  margin-top: 1rem;
  background-color: white;
}

.details{
  z-index: 0;
  position: absolute;
  height: 15rem;
  width: 90%;
  background-color: #08E59C;
  margin-top: 5.5rem;
  margin-left: 5rem;
  border-radius: 1rem;
  display: flex;
  justify-content: end;
  align-items: end;
}
.con-context{
  height: 100%;
  width: 50%;
}
.con-context h1{
  margin-top: .5rem;
  color: #00593D; 
}
.contact-num{
  display: flex;
  color: white;
  margin-top: 1.5rem;
}
.con-context h5{
  font-size: 1.2rem;
  color: white;
  margin-top: 1rem;
}
.con-context p{
  font-size: .9rem;
  color: white;
  margin-top: 1rem;
}
#callicon{
  font-size: 1.5rem;
}

@media screen and (max-width:1024px) {
  .contact-container{
    display: none;
  }
  
}
/* 
footer css */

.footer-container{
  border-top-left-radius: 4rem;
  border-top-right-radius:4rem;
  border-bottom: 1px solid white;
  height: 22rem;
  width: 100%;
  background-color: #08E59C;
  display: flex;
  color: white;
  margin-top: -2rem;
}
.footer-sub{
  display: flex;
}
.footer-left{
  height: 100%;
  width: 35%;
  display: flex;
  justify-content: end;
  align-items: end;
}
.subfooter-left{
  height: 20rem;
  width: 70%;
  text-align: left;
  margin-right: 4rem;
}
.subfooter-left p{
  margin-top: 3rem;
}
.footer-left h1{
  margin-top: 3rem;
}
.footer-right{
  height: 100%;
  width: 65%;
  display: flex;
  justify-content: space-evenly;
}
.div1 ,.div2,.div3,.div4{
  height: 100%;
  width: 15rem;
}
.div1 ,.div2 , .div3 ,.div4 h5 {
  margin-top: 5rem;
}
.div1 h6{
  margin-top: 2rem;
}
.div2 h6{
  margin-top: 2rem;
}
.div3 h6{
  margin-top: 2rem;
}
.div4 h6{
  margin-top: 2rem;
}
@media (min-width:600px) and (max-width: 1024px) {

  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
  .nav-item {
    margin: 0.5rem 0;
  }
  .navbar-collapse {
    justify-content: center;
  }
  .button {
    margin-top: 1rem;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .footer-container {
    flex-direction: column;
    height: auto;
    padding: 0;
    margin-top:3rem ;
  }
  .footer-left, .footer-right {
    width: 100%;
    height: auto;
    margin-top: -2rem;
    padding: 0;
  }
  .footer-right{
    margin-top: -10rem;
  }
  .footer-left {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .subfooter-left {
    margin-right: 0;
    width: 100%;
    text-align: center;
  }
  .footer-right {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .div1, .div2, .div3, .div4 {
    width: 100%;
    text-align: center;
  }
}

/* 
sub footer .css */

.sub-footer1{
  height: 4rem;
  width: 100%;
  background-color: #00E499;
  display: flex;
  justify-content: space-between;
  align-items: end;
  color: white;
}
.sub-footer1 h6{
  margin-left: 5rem;
  margin-bottom: 1rem;
}

.div11{
  width: 30%;
  display: flex;
}
.div11 h6{
  margin-top: 2rem;
}
.div11 img{
  height: 3rem;
  width: 8rem;
  margin-top: 1.2rem;
}
@media screen and (max-width:600px)
 {
  .sub-footer1{
    display: none;
  }
}



